# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/
*.egg-info/

# VSCode settings
.vscode/

# Data / build output
saved_html/
saved_data/

# OS-specific
.DS_Store
Thumbs.db
